@font-face {
  font-family: 'Nebulosa';
  src: url('../fonts/NebulosaBlackDisplaySolid.eot');
  src: local('Nebulosa Black Display Solid'), local('NebulosaBlackDisplaySolid'),
  url('../fonts/NebulosaBlackDisplaySolid.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NebulosaBlackDisplaySolid.woff2') format('woff2'),
  url('../fonts/NebulosaBlackDisplaySolid.woff') format('woff'),
  url('../fonts/NebulosaBlackDisplaySolid.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: Nebulosa, sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
  background-color: #020413;
  text-align: center;
  text-transform: uppercase;
}

body {
  margin: 0;
}

h2 {
  font-size: 51px;
  margin: 0 0 55px;
}

h3 {
  font-size: 31px;
  margin: 0 0 85px;
  color: #d1ffff;
}

p {
  margin: 0 0 35px;
}

a {
  color: #ff00ff;
}

.section {
  padding: 50px 0 50px;

  &.bg-hidden {
    background-image: url(../images/bg-hidden.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

.section-top {
  padding: 430px 0 25px;
  background-image: url(../images/bg-top.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.counter-wrapper {
  width: 297px;
  height: 82px;
  margin: 0 auto 45px;
  box-sizing: border-box;
  border: 5px solid #a523ff;
  background: #040107 !important;
  background: radial-gradient(#9508fe, #040107) !important;
  line-height: 70px !important;
  font-size: 50px;
  color: #ffffff !important;
}

.button {
  font-family: Nebulosa, sans-serif;
  position: relative;
  display: block;
  width: 430px;
  height: 140px;
  font-size: 22px;

  padding: 0;
  margin: 0 auto 20px;
  background-color: transparent;
  border: none;

  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  .button-content {
    position: relative;
    margin: 0 40px;
    background-color: #7100ff;
    height: 100%;
    line-height: 140px;

    &::before {
      position: absolute;
      left: -40px;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 70px 40px 70px 0;
      border-color: transparent #7100ff transparent transparent;
      content: '';
    }

    &::after {
      position: absolute;
      right: -40px;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 70px 0 70px 40px;
      border-color: transparent transparent transparent #7100ff;
      content: '';
    }
  }

  .button-image {
    position: absolute;
    top: 6px;
    left: 12px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.panel-join {
  padding: 35px;
  border: 1px solid cyan;
  margin-bottom: 30px;
  max-width: 100%;
}

.panel-join-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ff00ff;
  padding: 15px 20px;
  line-height: 1;
  font-size: 36px;
  margin-bottom: 25px;
}

.panel-join-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;

  a {
    white-space: nowrap;
    width: 30%;
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 25px 20px;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: #ef00f0;
    overflow: visible;
    font-size: 22px;
    line-height: 1;
    cursor: pointer;

    &::before {
      position: absolute;
      display: block;
      top: 2px;
      left: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 4px);
      content: '';
      clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
      background-color: #020413;
      z-index: -1;
      transition: all 0.5s;
    }

    &:hover, &.active {
      &::before {
        background-color: #ef00f0;
      }
    }
  }
}

.panel-join-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    width: 215px;
    height: 70px;
    font-size: 20px;
    margin: 0 0 20px;

    .button-content {
      line-height: 70px;
      margin: 0 20px;

      &::before {
        position: absolute;
        left: -20px;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 20px 35px 0;
        border-color: transparent #7100ff transparent transparent;
        content: '';
      }

      &::after {
        position: absolute;
        right: -20px;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 0 35px 20px;
        border-color: transparent transparent transparent #7100ff;
        content: '';
      }
    }

    .button-image {
      top: 3px;
      left: 6px;
      right: 6px;
      bottom: 3px;
    }
  }
}

.panel-info {
  background: url("../images/bg-info.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  padding: 50px 65px 65px 75px;
  margin-bottom: 100px;

  text-align: left;

  max-width: 100%;
}

.panel-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: lowercase;
  margin-bottom: 57px;

  a {
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;
    //margin-top: -16px;
    margin-right: -16px;
    padding: 8px 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background-color: #ef00f0;
    overflow: visible;

    &::before {
      position: absolute;
      display: block;
      top: 2px;
      left: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 4px);
      content: '';
      clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
      background-color: #020413;
      z-index: -1;
      transition: all 0.5s;
    }

    &:hover {
      &::before {
        background-color: #ef00f0;
      }
    }
  }

  .ether-value {
    color: #ff00ff;
  }

}

//adaptive

@media (max-width: 1599px) {
  .section-top {
    padding: 320px 0 25px;
  }
}

@media (max-width: 1199px) {
  .section-top {
    padding: 250px 0 25px;
  }
}

@media (max-width: 959px) {
  .section-top {
    padding: 200px 0 25px;
  }
}

@media (max-width: 767px) {
  .section-top {
    padding: 160px 0 25px;
  }

  .container {
    max-width: 610px;
    padding: 5px;
  }
}

@media (max-width: 639px) {

  .section-top {
    padding: 140px 0 25px;
  }

  html {
    font-size: 14px;
  }

  .section-top {
    padding: 140px 0 25px;
  }

  h2 {
    font-size: 42px;
    margin: 0 0 25px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .section {
    padding: 20px 0 20px;
  }

  .container {
    max-width: 100%;
  }

  .button {
    width: 300px;
    height: 90px;

    .button-content {
      margin: 0 26px;
      line-height: 90px;

      &::before {
        left: -26px;
        border-width: 45px 26px 45px 0;
      }

      &::after {
        right: -26px;
        border-width: 45px 0 45px 26px;
      }
    }

    .button-image {
      top: 3px;
      left: 6px;
      bottom: 3px;
      right: 6px;
    }
  }

  .panel-join {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .panel-join-values a {
    padding: 15px 10px;
    margin-bottom: 25px;
    font-size: 16px;
  }

  .panel-join-controls {
    .button {
      width: 130px;
      height: 42px;
      font-size: 16px;
      margin: 0 0 20px;

      .button-content {
        line-height: 42px;
        margin: 0 12px;

        &::before {
          left: -12px;
          border-width: 22px 12px 22px 0;
        }

        &::after {
          right: -12px;
          border-width: 22px 0 22px 12px;
        }
      }

      .button-image {
        top: 3px;
        left: 6px;
        right: 6px;
        bottom: 3px;
      }
    }
  }

  .panel-info {
    margin-bottom: 40px;
    padding: 40px 40px 40px 50px;
  }

  .panel-info-item {
    font-size: 10px;
    margin-bottom: 40px;
  }
}

@media (max-width: 424px) {

  .section-top {
    padding: 100px 0 25px;
  }

  html {
    font-size: 12px;
  }

  .panel-join-values a {
    padding: 12px 6px;
    margin-bottom: 25px;
    font-size: 12px;
  }

  .panel-info {
    margin-bottom: 40px;
    padding: 40px 40px 40px 50px;
  }

  .panel-info-item {
    flex-wrap: wrap;
    margin-bottom: 22px;

    > *:first-child {
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
    }

    > *, a {
      margin: auto;
      margin-right: auto;
    }
  }
}